.svn
config.yml
config/config.yml
config/unicorn.rb
*.db
*.sqlite3
*.swp
*~
*.pidaproject
*.log
*.mo
pkg
ssl
custom/*
.DS_Store
/nbproject
.irbrc_history
resources/dev
.ruby-gemset
.bundle
.vagrant
Vagrantfile
Gemfile.lock

